#shark {
    left: 100px;
    top: 400px;
    position: absolute;
    
    animation-name: Shark;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes Shark {
    0% {
        left: 100px;
        transform: scaleX(1);
    }
    
    49.9% {
        left: calc(100vw - 250px); 
        transform: scaleX(1);
    }

    50% {
        left: calc(100vw - 250px); 
        transform: scaleX(-1);
    }
    
    99.9% {
        left: 100px;
        transform: scaleX(-1);
    }

    100% {
        left: 100px;
        transform: scaleX(1);
    }
}
